body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.blooda {
  font-family: 'Baloo Da 2', cursive;
}

.todo-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.edit-input {
  border: 0px 0px 2px 0px solid;
}

.edit-input:focus {
  outline: none;
}